body{
  font-family: 'Ubuntu', sans-serif;
  background: #d8d1d1;
}

#header{
  background: hsla(216, 36%, 82%, 0.486);
  color: rgb(17, 13, 13);
  align-self: center;
  width:100%;
}

#header p{
  font-family: 'Roboto', sans-serif;
  color: rgb(255, 249, 249);
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: bold;
}
button{
  font-family: 'Roboto', sans-serif;
  margin-top: 30px;
  width: 130px;
  font-weight: bolder;
  letter-spacing: 3px;
}
  .copy_right_foorter{
    position: fixed;
    color: gray;
    bottom:0;
    width: 100%;
    font-size: 18px;
    background-color: rgb(237, 246, 253);
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151, 149, 149);
  }